services:
  app:
    build:
      context: node
    container_name: app
    entrypoint: dockerize -wait tcp://db:3306 -timeout 20s docker-entrypoint.sh
    networks:
     - fullcycle-net
    volumes:
     - ./node:/usr/src/app
    tty: true
    ports:
     - "3000:3000"
    depends_on:
      - db
    command: sh -c "npm install -y && npm start"
  
  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    restart: always
    tty: true
    ports:
      - "8080:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d:ro
    depends_on:
      - app
    networks:
      - fullcycle-net

  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes:
     - ./mysql:/var/lib/mysql
    environment:
     - MYSQL_DATABASE=nodedb
     - MYSQL_ROOT_PASSWORD=root
    networks:
     - fullcycle-net

networks:
  fullcycle-net:
    driver: bridge